@media screen and (max-width: 1360px) {
    .info {
        font-size: 16px;
    }
    .little {
        font-size: 13px;
    }
}

@media screen and (max-width: 1169px) {
    .info {
        font-size: 13px;
    }
    .little {
        font-size: 11px;
    }
}

@media screen and (max-width: 1024px) {
    .presidents {
        flex-wrap: wrap;
    }
    .img {
        height: 400px;
    }
    .box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flex__box {
        flex-direction: column;
        padding: 30px 0;
    }
    .first {
        font-size: 20px;
    }
    .gadgets {
        font-size: 16px;
    }
}

@media screen and (max-width: 888px) {
    .header__nav {
        flex-direction: column;
        row-gap: 30px;
    }
    .header__nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__nav {
        flex-direction: column;
        row-gap: 30px;
    }

    .footer__nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}